.ExitButtonImg {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(64px, -36px);
  /* background-color: green; */
  overflow: visible;
  display: block;
}
