.CardGridContainer {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 1em;
    gap: 1em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: rgba(156, 144, 238, 0.526);
}
